.articleControls {
  width: 20%;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background: #f8f2ea; }

.articleControls > button {
  width: 100%;
  height: 48px;
  font-size: 32px;
  background: #cf8680;
  color: #f1ebeb;
  border: #a94840 solid 1px; }

.articleControls > button:first-of-type {
  margin-bottom: 5px; }
