$primary-color: #cea062;
$secondary-color: #99d7d4;
$highlight-color: #cf8680;
$white: #f1ebeb;
$black: #4b3e2e;

$iconFont: 32px;

.articleControls {
      width: 20%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    background: lighten($primary-color, 35%);
}

.articleControls > button {
  width: 100%;
  height: $iconFont*1.5;
  font-size: $iconFont;
  background: $highlight-color;
  color: $white;
  border: darken($highlight-color, 20%) solid 1px;
}

.articleControls > button:first-of-type {
  margin-bottom: 5px;
}
